body {
  background-color: #FFB6C1;
  margin-top: 0px;
  padding: 20px;
  margin-left: 20px;
  magin-right: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #E37383;
  font-size: 2em;
  padding-top: 20px;
  width: 100%;
  font-family: Georgia;
}

h2 {
  color: #E37383;
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  text-align: left;
  width: 70%;
  padding-top: 20px;
  font-family: Georgia;
}

p {
  color: black;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Georgia;
  padding-left: 40px;
}

.container{
  max-width: 1400px;
}

.card{
  background: white;
  text-color: grey;
  margin-bottom: 20px;
  padding-bottom: 30px;
}
