body {
  background-color: #FFB6C1;
  margin-top: 0px;
  padding: 20px;
  margin-left: 20px;
  magin-right: 20px;
  margin-bottom: 20px;
}

h1 {
  color: black;
  font-size: 2em;
  padding-top: 20px;
  width: 100%;
  font-family: Georgia;
}

h2 {
  color: #E37383;
  font-weight: 100;
  font-size: 22px;
  line-height: 24px;
  text-align: left;
  width: 70%;
  padding-top: 20px;
  padding-left: 10px;
  font-family: Georgia;
}

h5 {
  padding-left: 10px;
}

h6 {
  padding-left: 10px;
}

p {
  color: black;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
  font-family: Georgia;
  padding-left: 10px;
}

.container{
  max-width: 1400px;
}

.card{
  background: white;
  text-color: grey;
  margin-bottom: 20px;
  padding-left: 10px;
}

img{
  padding-top:20px;
  padding-right: 10px;
  width: 50%;
}
